#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.navbar{
  background-color: rgb(28, 185, 178);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.links{
  display: flex;
}
.link{
  margin-right: 30px;
  margin-left: 50px;
}